.container-fluid {
    background: rgb(216,216,216);
    outline: .1px double black;
    padding: 5%;
}



h2 {
    text-align: center;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.span6 {
  style="float: none;
  margin: 0 auto;
}
